/* .f-clearfix {
    zoom: 1
}

.f-clearfix:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: "."
}

.f-ib {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.f-taj {
    text-align: justify;
    text-justify: inter-ideograph
}

.f-wsn {
    word-wrap: normal;
    white-space: nowrap
}

.f-pre {
    overflow: hidden;
    text-align: left;
    white-space: pre-wrap
}

.f-pre,
.f-wwb {
    word-wrap: break-word;
    word-break: break-all
}

.f-wwb {
    white-space: normal
}

.f-toe {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis
} */

blockquote,
body,
button,
caption,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
table,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    outline: none
}

address,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th {
    text-align: left;
    font-weight: 400
}

abbr,
body,
fieldset,
html,
iframe,
img {
    border: 0
}

address,
cite,
dfn,
em,
i,
var {
    font-style: normal
}

[hidefocus],
summary {
    outline: 0
}

li {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
    font-size: 100%
}

sub,
sup {
    font-size: 83%
}

code,
kbd,
pre,
samp {
    font-family: inherit
}

q:after,
q:before {
    content: none
}

textarea {
    overflow: auto;
    resize: none
}

label,
summary {
    cursor: default
}

a,
button {
    cursor: pointer
}

b,
em,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 400
}

a,
a:hover,
del,
ins,
s,
u {
    text-decoration: none;
    outline: none
}

body,
button,
input,
keygen,
legend,
select,
textarea {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    outline: 0;
    font-family: PingFangSC-Light, helvetica, Heiti SC
}

input::-ms-clear,
input::-ms-reveal {
    display: none
}

:root * {
    -webkit-filter: none\9 !important;
    filter: none\9 !important
}

*,
:after,
:before {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

input {
    -webkit-box-shadow: none;
    box-shadow: none
}

video {
    width: 100%;
    height: auto
}

::-webkit-input-placeholder {
    color: #999
}

:-moz-placeholder,
::-moz-placeholder {
    color: #999
}

:-ms-input-placeholder {
    color: #999
}

.ysf-online-invite-wrap,
.ysf-online-kefu {
    display: none !important
}

body {
    background-color: #fff
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none
}

#YSF-BTN-HOLDER {
    display: none
}
/* 
@font-face {
    font-family: Gilroy;
    src: url(https://yanxuan.nosdn.127.net/font/gilroy.ttf)
}

@media screen and (min-width:300px) {
    html {
        font-size: 250%
    }
}

@media screen and (min-width:320px) {
    html {
        font-size: 266.66667%
    }
}

@media screen and (min-width:340px) {
    html {
        font-size: 283.33333%
    }
}

@media screen and (min-width:360px) {
    html {
        font-size: 300%
    }
}

@media screen and (min-width:375px) {
    html {
        font-size: 312.5%
    }
}

@media screen and (min-width:380px) {
    html {
        font-size: 316.66667%
    }
}

@media screen and (min-width:400px) {
    html {
        font-size: 333.33333%
    }
}

@media screen and (min-width:414px) {
    html {
        font-size: 345%
    }
}

@media screen and (min-width:440px) {
    html {
        font-size: 366.66667%
    }
}

@media screen and (min-width:480px) {
    html {
        font-size: 400%
    }
}

@media screen and (min-width:560px) {
    html {
        font-size: 466.66667%
    }
}

@media screen and (min-width:640px) {
    html {
        font-size: 533.33333%
    }
}

@media screen and (min-width:720px) {
    html {
        font-size: 600%
    }
}

.u-icon-hd-cart {
    width: .64rem;
    height: .64rem;
    background-position: -.74rem -.56rem
}

.u-icon-hd-cart,
.u-icon-hd-clearIpt {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/hd-b080bc9c8c1d40c57ae34a0deb1ec6bc.png);
    display: inline-block;
    vertical-align: middle;
    background-size: 2.38rem 2.03rem
}

.u-icon-hd-clearIpt {
    width: .5rem;
    height: .5rem;
    background-position: -1.74rem -.66rem
}

.u-icon-hd-home {
    width: .48rem;
    height: .44rem;
    background-position: 0 -1.59rem
}

.u-icon-hd-home,
.u-icon-hd-logo {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/hd-b080bc9c8c1d40c57ae34a0deb1ec6bc.png);
    display: inline-block;
    vertical-align: middle;
    background-size: 2.38rem 2.03rem
}

.u-icon-hd-logo {
    width: 1.72rem;
    height: .54rem;
    background-position: 0 0
}

.u-icon-hd-miniOpenAppClose {
    width: .38rem;
    height: .38rem;
    background-position: -.5rem -1.59rem
}

.u-icon-hd-miniOpenAppClose,
.u-icon-hd-openAppClose {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/hd-b080bc9c8c1d40c57ae34a0deb1ec6bc.png);
    display: inline-block;
    vertical-align: middle;
    background-size: 2.38rem 2.03rem
}

.u-icon-hd-openAppClose {
    width: .24rem;
    height: .24rem;
    background-position: -1.4rem -.86rem
}

.u-icon-hd-openAppLogo {
    width: .72rem;
    height: .72rem;
    background-position: 0 -.56rem
}

.u-icon-hd-openAppLogo,
.u-icon-hd-search1 {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/hd-b080bc9c8c1d40c57ae34a0deb1ec6bc.png);
    display: inline-block;
    vertical-align: middle;
    background-size: 2.38rem 2.03rem
}

.u-icon-hd-search1 {
    width: .64rem;
    height: .64rem;
    background-position: -1.74rem 0
}

.u-icon-hd-search2 {
    width: .28rem;
    height: .28rem;
    background-position: -1.4rem -.56rem
}

.u-icon-hd-search2,
.u-icon-hd-water {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/hd-b080bc9c8c1d40c57ae34a0deb1ec6bc.png);
    display: inline-block;
    vertical-align: middle;
    background-size: 2.38rem 2.03rem
}

.u-icon-hd-water {
    width: 1.04rem;
    height: .27rem;
    background-position: 0 -1.3rem
}

.u-icon-tabBar-cart-active {
    background-position: 0 0
}

.u-icon-tabBar-cart,
.u-icon-tabBar-cart-active {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/tabBar-03798737fd389001ec3da466a3fa4462.png);
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-size: 1.66rem 1.24rem
}

.u-icon-tabBar-cart {
    background-position: -.42rem 0
}

.u-icon-tabBar-cate-active {
    background-position: 0 -.42rem
}

.u-icon-tabBar-cate,
.u-icon-tabBar-cate-active {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/tabBar-03798737fd389001ec3da466a3fa4462.png);
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-size: 1.66rem 1.24rem
}

.u-icon-tabBar-cate {
    background-position: -.42rem -.42rem
}

.u-icon-tabBar-index-active {
    background-position: -.84rem 0
}

.u-icon-tabBar-index,
.u-icon-tabBar-index-active {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/tabBar-03798737fd389001ec3da466a3fa4462.png);
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-size: 1.66rem 1.24rem
}

.u-icon-tabBar-index {
    background-position: -.84rem -.42rem
}

.u-icon-tabBar-topic-active {
    background-position: 0 -.84rem
}

.u-icon-tabBar-topic,
.u-icon-tabBar-topic-active {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/tabBar-03798737fd389001ec3da466a3fa4462.png);
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-size: 1.66rem 1.24rem
}

.u-icon-tabBar-topic {
    background-position: -.42rem -.84rem
}

.u-icon-tabBar-ucenter-active {
    background-position: -.84rem -.84rem
}

.u-icon-tabBar-ucenter,
.u-icon-tabBar-ucenter-active {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/tabBar-03798737fd389001ec3da466a3fa4462.png);
    display: inline-block;
    vertical-align: middle;
    width: .4rem;
    height: .4rem;
    background-size: 1.66rem 1.24rem
}

.u-icon-tabBar-ucenter {
    background-position: -1.26rem 0
}

.u-icon-del-del3 {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/del-da8585f53c6bd84db4a2f5f558006ab2.png);
    display: inline-block;
    vertical-align: middle;
    width: .41rem;
    height: .41rem;
    background-size: .41rem .41rem;
    background-position: 0 0
}

.u-icon-search-address-right {
    width: .5rem;
    height: .5rem;
    background-position: -.56rem 0
}

.u-icon-search-address-right,
.u-icon-search-del1 {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/search-25b98fb750470c28bd08c7f2e6b54927.png);
    display: inline-block;
    vertical-align: middle;
    background-size: 1.06rem .54rem
}

.u-icon-search-del1 {
    width: .54rem;
    height: .54rem;
    background-position: 0 0
}

.u-icon-defaultPage-noRecords {
    width: 3.72rem;
    height: 3.72rem;
    background-position: 0 0
}

.u-icon-defaultPage-noRecords,
.u-icon-defaultPage-noSearchResult {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/defaultPage-fa86828d57f34836cd69ecd870e80d86.png);
    display: inline-block;
    vertical-align: middle;
    background-size: 6.22rem 6.22rem
}

.u-icon-defaultPage-noSearchResult {
    width: 2.48rem;
    height: 2.48rem;
    background-position: -3.74rem 0
}

.u-icon-defaultPage-noSuper {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/defaultPage-fa86828d57f34836cd69ecd870e80d86.png);
    display: inline-block;
    vertical-align: middle;
    width: 2.48rem;
    height: 2.48rem;
    background-size: 6.22rem 6.22rem;
    background-position: 0 -3.74rem
}

.u-icon-go-top {
    background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-mall-wap/assets/img/go-1d03abe0594ead4dabcf6bb70fc54966.png);
    display: inline-block;
    vertical-align: middle;
    width: .82rem;
    height: .82rem;
    background-size: .82rem .82rem;
    background-position: 0 0
}

.f-fs13 {
    font-size: 13px
}

.f-fs15 {
    font-size: 15px
}

.f-fs16 {
    font-size: 16px
}

.f-fs19 {
    font-size: 19px
}

.f-dn {
    display: none !important
}

.f-db {
    display: block
}

.f-fl {
    float: left
}

.f-fr {
    float: right
}

.f-cp {
    cursor: pointer
}

.f-pr {
    position: relative
}

.f-pa {
    position: absolute
}

.f-fwb {
    font-weight: 700
}

.f-vam {
    vertical-align: middle
}

.f-vat {
    vertical-align: top
}

.f-tal {
    text-align: left
}

.f-tar {
    text-align: right
}

.f-tac {
    text-align: center
}

.f-hide {
    display: none
}

.s-fc0,
a.s-fc0:hover {
    color: #333
}

.s-fc1,
a.s-fc1:hover {
    color: #666
}

.s-fc2,
a.s-fc2:hover {
    color: #999
}

.f-vc {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.f-fz24 {
    font-size: .24rem
}

.f-fz28 {
    font-size: .28rem
}

.f-fz32 {
    font-size: .32rem
}

.f-fz36 {
    font-size: .36rem
}

.f-stopScrolling {
    overflow: hidden !important
}

.f-bgtp {
    background: transparent !important
}

.f-bgfff {
    background: #fff !important
}

.f-mb16 {
    margin-bottom: .16rem
}

.f-mb20 {
    margin-bottom: .2rem
}

.f-mt20 {
    margin-top: .2rem
}

.f-ff-l {
    font-family: PingFangSC-Light
}

.f-ff-m {
    font-family: PingFangSC-Medium
}

.w-button,
.w-button:focus,
.w-button:visited {
    display: inline-block;
    vertical-align: middle;
    width: 2.52rem;
    text-align: center;
    line-height: .68rem;
    font-size: .28rem;
    color: #fff;
    border: 1px solid #dd1a21;
    background-color: #dd1a21;
    border-radius: 4px;
    overflow: hidden
}

[data-dpr="1"] .w-button,
[data-dpr="1"] .w-button:focus,
[data-dpr="1"] .w-button:visited {
    border-radius: 2px
}

.w-button:active {
    border: 1px solid #a22922;
    background-color: #a22922
}

.w-button-white,
.w-button-white:focus,
.w-button-white:visited {
    border: 1px solid #fff;
    background-color: #fff;
    color: #333
}

.w-button-white:active {
    border: 1px solid #efefef;
    background-color: #efefef
}

.w-button-ghost,
.w-button-ghost:focus,
.w-button-ghost:visited {
    border: 1px solid #999;
    color: #333;
    background-color: transparent
}

.w-button-ghost:active {
    border: 1px solid #666;
    color: #fff;
    background-color: #666
}

.w-button-ghostRed,
.w-button-ghostRed:focus,
.w-button-ghostRed:visited {
    border-color: #dd1a21;
    color: #dd1a21;
    background-color: transparent
}

.w-button-ghostRed:active {
    border-color: #dd1a21;
    color: #dd1a21;
    background-color: #ffefef
}

.w-button-ghostGrey,
.w-button-ghostGrey:focus,
.w-button-ghostGrey:visited {
    border-color: #c7c7c7;
    color: #333;
    background-color: #f9f9f9
}

.w-button-ghostGrey:active {
    border-color: #c7c7c7;
    background-color: #fff
}

.w-button-ghostWhite,
.w-button-ghostWhite:focus,
.w-button-ghostWhite:visited {
    border-color: #c7c7c7;
    color: #333;
    background-color: #fff
}

.w-button-ghostWhite:active {
    border-color: #c7c7c7;
    background-color: #f4f4f4
}

.w-button-ghostGrey-code,
.w-button-ghostGrey-code:focus,
.w-button-ghostGrey-code:visited {
    border-color: #7f7f7f;
    color: #333;
    background-color: transparent
}

.w-button-ghostGrey-code:active {
    border-color: #7f7f7f;
    background-color: #f4f4f4
}

.w-button-disabled,
.w-button-disabled:focus,
.w-button-disabled:visited,
.w-button.disabled,
.w-button.disabled:focus,
.w-button.disabled:visited,
.w-button[disabled],
.w-button[disabled]:focus,
.w-button[disabled]:visited {
    color: #fff;
    border: 1px solid #ccc !important;
    background-color: #ccc !important
}

.w-button-disabled:active,
.w-button.disabled:active,
.w-button[disabled]:active {
    border: 1px solid #ccc !important;
    background-color: #ccc !important
}

.w-button-code-disabled,
.w-button-code-disabled:focus,
.w-button-code-disabled:visited {
    color: #ccc;
    border: 1px solid #ccc !important;
    background-color: transparent !important
}

.w-button-code-disabled:active {
    border: 1px solid #ccc !important;
    background-color: transparent !important
}

.w-button-u-disabled,
.w-button-u-disabled:focus,
.w-button-u-disabled:visited {
    color: #cb7a7a
}

.w-button-u-disabled:active {
    background-color: #dd1a21 !important
}

.w-button-xxl,
.w-button-xxl:focus,
.w-button-xxl:visited {
    height: .96rem;
    line-height: .96rem
}

.w-button-xl,
.w-button-xl:focus,
.w-button-xl:visited {
    height: .94rem;
    line-height: .94rem
}

.w-button-l,
.w-button-l:focus,
.w-button-l:visited {
    height: .86rem;
    line-height: .86rem
}

.w-button-s,
.w-button-s:focus,
.w-button-s:visited {
    height: .62rem;
    line-height: .62rem
}

.w-button-xs,
.w-button-xs:focus,
.w-button-xs:visited {
    height: .54rem;
    line-height: .54rem
}

.w-button-block,
.w-button-block:focus,
.w-button-block:visited {
    display: block;
    width: 100%
}

.w-button-noRadius,
.w-button-noRadius:focus,
.w-button-noRadius:visited,
[data-dpr="1"] .w-button-noRadius,
[data-dpr="1"] .w-button-noRadius:focus,
[data-dpr="1"] .w-button-noRadius:visited {
    border-radius: 0
}

.w-bottomBlockBtn,
.w-bottomBlockBtn:focus,
.w-bottomBlockBtn:visited {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4
}

.w-chkbox>input,
.w-radio>input {
    -webkit-appearance: none;
    border-radius: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 0
}

.w-chkbox>span,
.w-radio>span {
    vertical-align: middle
}

.w-chkbox-1>span,
.w-chkbox>span {
    margin-left: .16rem
}

.m-ipt {
    padding: 0 .2rem;
    height: .7rem;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between
}

.m-ipt .ipt {
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: .5rem;
    font-size: .28rem;
    border: none;
    color: rgba(0, 0, 0, .8);
    background-color: transparent
}

.u-text-red {
    color: #dd1a21
}

.u-text-primary {
    color: #333
}

.u-text-muted {
    color: #666
}

.u-text-muteder {
    color: #999
}

.u-text-yellow {
    color: #f48f18
} */